.line {
    width: 200px;
    background-color: rgb(184, 28, 28);
}

.social-btn {
    max-width: 100%;
}

.social-btn {
    max-width: 50%;
    margin: 0px auto;
    text-align: left;
}

@media only screen and (max-width: 576px) {
    .line {
        width: 200px;
        background-color: rgb(184, 28, 28);
    }

    .social-btn {
        max-width: 100%;
    }
}