.product {
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
    max-width: 400px;
    max-height: 800px;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.img-part {
    /* width: 400px; */
    padding: 7px;
    border-radius: 50%;
    padding: 10px;
    max-width: 400px;
    max-height: 250px;
}

.item-quantity {
    color: rgb(184, 28, 28);
}

.product Button {
    border: none;
}

.product Button:hover {
    background-color: white;
    color: black;
    border: none;
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), transform .4s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 10px 10px 20px 10px rgba(7, 7, 7, 0.26)
}