.banner {
    background: url("../../../images/food.jpg"),
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 95vh;
}

.banner-text {
    height: 30%;
}

.banner-text h2 {
    font-size: 3rem;
}

.banner-text h2 span {
    color: rgb(184, 28, 28);
    font-weight: 700;
    font-size: 70px;
    text-shadow: 3px 3px 20px #000;
}

.banner-text p {
    font-size: 1.8rem;
    text-align: center;
}

@media only screen and (min-width: 576px) {
    .banner {
        width: 100%;
        height: 65vh;
    }

    .banner-text h2 {
        font-size: 2rem;
    }

    .banner-text h2 span {
        color: rgb(184, 28, 28);
        font-weight: 800;
        font-size: 70px;
        text-shadow: 3px 3px 20px #000;
        text-align: center;
    }

    .banner-text p {
        font-size: 2rem;
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {
    .banner {
        width: 100%;
        height: 95vh;
    }

    .banner-text h2 {
        font-size: 3rem;
    }

    .banner-text h2 span {
        color: rgb(184, 28, 28);
        font-weight: 700;
        font-size: 70px;
        text-shadow: 3px 3px 20px #000;
        text-align: center;
    }

    .banner-text p {
        font-size: 2rem;
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .banner {
        width: 100%;
        height: 125vh;
    }

    .banner-text h2 {
        font-size: 1rem;
    }

    .banner-text h2 span {
        color: rgb(184, 28, 28);
        font-weight: 700;
        font-size: 30px;
        text-shadow: 3px 3px 20px #000;
        text-align: center;
    }

    .banner-text p {
        font-size: 1rem;
    }
}